<br/>
<br/>
<br/>

<div class="span7 offset1 smurfy">

	<h1 class="custom-h1 text-center">
		Geng Wang
	</h1>

<br></br>

	<h2 class="custom-h2">
		About me: 
		<br>
		I am currently a 1st year student at Harvard Business School (Section I!)  Prior to HBS, I was Cofounder and Chief Marketing Officer of RentJungle.com and Chief Operating Officer of Community Elf.  I am also a McKinsey and Company alumni and attended Michigan State University.  Go Green!
	</h2>

	<h2 class="text-center">
	<%= link_to 'Resume', '#', :class => 'btn btn-warning btn-large' %> 
	</h2>

</div>