<% @pics.each do |pic| %>

<div class="smurfy span4">

	<h1 class="custom-h1">
	Title: <%= pic.title %>
	<h1/>
	<br/><br/>
	<h2 class="custom-h2">
	Subtitle: <%= pic.subtitle %>
	<br/><br/>
	Message: <%= pic.message %>
	</h2>
</div>

<% end %>